@use "./variables" as *;

// .col {
//   width: 300px;
// }

.card {
  background-color: $color-lavender;
  margin: 5px 5px;
  justify-content: center;
  text-align: center;
  height: 550px;
  width: 400px;

  @media (min-width: $breakpoint-md) {
    .card-img-top {
      width: 400px;
      height: 400px;
    }
  }
  
  .card-body {
    @media (max-width: $breakpoint-sm) {
      .h5{
        color: aliceblue;
      }
    }

    
    
    
  }
}

.row {
  border-radius: 5px;
  border-color: $color-black;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin: 10px;
}