@use "./variables" as *;

.card {
  background-color: $color-lavender;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  text-align: center;
  height: 500px;
  width: 400px;

  .card-img-top {
    padding: 5px 10px 5px 10px;
  }

  @media (min-width: $breakpoint-md) {
    .card-img-top {
      height: 300px;
      width: 400px;  
    }
  }
  
  .card-body {
    .h5 {
      color: $color-white;
      text-decoration: underline;
    }
  }
}

.row {
  border-radius: 5px;
  border-color: $color-black;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin: 10px;
}