@use "./variables" as *;

header {
  .navbar {
    padding: 12px 0;
    background-image: $blue-gradient;

    @media (min-width: 992px) {
      padding: 0;
    }

    span {
      &.navbar-brand {
        color: $color-white;
        font-weight: $font-bold;
        font-size: 28px;
        line-height: 32px;
        color: $color-white;

        @media (min-width: $breakpoint-md) {
          padding: 17px 0;
        }
      }
    }
  }

  &:navbar-brand {
    color: $color-white;
  }

  // .navbar-brand {
  //   color: $color-white
  // }

 
}