@use "./variables" as *;

header {
  .navbar {
    padding: 12px 0;
    background-image: $purple-blue-gradient;

    @media (min-width: 992px) {
      padding: 0;
    }

    span {
      &.navbar-brand {
        color: $color-white;
        font-weight: $font-bold;
        font-size: 28px;
        line-height: 32px;
        color: $color-white;

        @media (min-width: $breakpoint-md) {
          padding: 17px 0;
        }
      }
    }

    button {
      &.navbar-toggler {
        border-color: $color-white;
      }

      span {
        &.navbar-toggler-icon {
          background-image: $navbar-toggler-hamburger;
        }

      } 
    }

    .navbar-collapse {
      .navbar-nav {
        &:first-child {
          margin-top: 20px;

          @media (min-width: $breakpoint-md) {
            margin-top: 0;
          }
        }

      .nav-item {
        &.dropdown {
          border-bottom: 1px solid $color-white;
          
          @media (min-width: $breakpoint-md) {
            border-bottom: 0;
          }
        }
          &:hover {
            .dropdown-menu {
              display: block;
            }
          }
          
          a {
            &.dropdown-toggle {
              color: $color-drexel-orange;
            }

            &::before {
              width: 100%;
            }

            

          }
        }
      }
    }


  }

 
}