@use "./variables" as *;

header {
  .navbar {
    padding: 12px 0;
    background-image: $purple-lavender-gradient;

    @media (min-width: 992px) {
      padding: 0;
    }

    span {
      &.navbar-brand {
        color: $color-white;
        font-weight: $font-bold;
        font-size: 28px;
        line-height: 32px;
        color: $color-white;

        @media (min-width: $breakpoint-md) {
          padding: 17px 0;
        }
      }
    }

    button {
      &.navbar-toggler {
        border-color: $color-white;
      }

      span {
        &.navbar-toggler-icon {
          background-image: $navbar-toggler-hamburger;
        }

      } 
    }

    .navbar-collapse {
      .navbar-nav {
        &:first-child {
          margin-top: 20px;

          @media (min-width: $breakpoint-md) {
            margin-top: 0;
          }
        }

        .nav-item {
          &.dropdown {
            border-bottom: 1px solid $color-white;
            
            @media (min-width: $breakpoint-md) {
              border-bottom: 0;
            }

            &:hover {
              .dropdown-menu {
                display: block;
              }

              a {
                &.dropdown-toggle {
                  color: $color-drexel-orange;

                  &::before {
                    width: 100%;
                  }

                  &::after {
                    content: "";
                    transform: rotate(135deg);
                    top: 31px;
                    border-color: $color-drexel-orange;
                  }
                }
              }
            }
          }
          //
          a {
            &.dropdown-toggle {
              padding: 12px 0;
              position: relative;

              @media (min-width: $breakpoint-md) {
                padding: 22px 20px 22px 17px;
              }

              &::after {
                font-size: 32px;
                content: "+";
                position: absolute;
                top: 25px;
                right: 0;
                transform: translate(-50%, -50%);
                font-weight: 400;
                border: 0;
                margin-left: 0;
                transition: all 0.3s;

                @media (min-width: $breakpoint-md) {
                  content: "";
                  border: 3px solid $color-white;
                  border-width: 0 0 3px 3px;
                  height: 10px;
                  width: 10px;
                  position: absolute;
                  transform: rotate(-45deg);
                  top: 26px;
                  right: 2px;
                }
              }
              
              &.show {
                &::after {
                  content: "\2013";

                    @media (min-width: $breakpoint-md) {
                      content: "";
                      transform: rotate(135deg);
                      top: 31px;
                    }
                }
              }
            }
          }
          
        } 
      }
    }
  }
}