@use "./variables" as *;

.container {

  .row {
    background-image: url('../utils/images/tavern_wall_background_500_x_500.png');
    height: 600px;
  }
   
  h1 {
    font-size: 50px;
    background: $purple-lavender-gradient;
    background-clip: text;
    padding: 0px 0px 30px 0px;
    -webkit-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
    -o-text-fill-color: transparent;
  
    @media (min-width: $breakpoint-md) {
      font-size: 70px;
    }
  }
  
  p {
    &:not(p.card-text){
      font-size: 22px;
    }
    font-size: 18px;
    font-weight: $font-semi-bold;
    color: $color-black;
  
    
  }

  a {
    &:not(a.dropdown-item)
    :not(a.nav-link)
    :not(a.navbar-brand)
    :not(a.carousel-control-next)
    :not(a.carousel-control-prev) { 
     text-decoration: none;
     font-weight: $font-semi-bold;
     display: flex;
     background: $purple-lavender-gradient;
     background-clip: text;
     -webkit-background-clip: text;
     -ms-background-clip: text;
     -o-background-clip: text;
     -webkit-text-fill-color: transparent;
     -ms-text-fill-color: transparent;
     -o-text-fill-color: transparent;

     &::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: $color-drexel-orange;
      transition: width 0.3s;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }

    }
  } 
}


